.history {
  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-left {
      display: flex;
      gap: 8;
    }
  }

  &-clear-btn {
    &:hover {
      cursor: pointer;
      color: #1677ff;
    }

    &-text {
      margin-left: 4px;
      font-size: 14px;
      font-weight: normal;
    }
  }



  &-wrapper {
    height: calc(100vh - 150px);
    overflow: auto;
    margin-bottom: 25px;
  }
  &-category {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
  }
  &-item {
    border-radius: 6px;
    border: none;
    background-color: transparent;
    margin: 0 16px;
    margin-bottom: 4px;
    padding: 12px 16px;
    cursor: pointer;
    transition: all 0.2s ease;
    
    &:hover {
      background-color: #f5f5f5;
    }

    &-title {
      font-size: 14px;
      font-weight: 400;
      color: #333;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      line-height: 1.4;
    }
  }
}
.flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
