.feed-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .feed-left {
    font-size: 12px;
    color: #71757f;
  }
  .feed-right {
    display: flex;
    align-items: center;
    
    .feedback-btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      margin-left: 26px;
      cursor: pointer;
      border-radius: 6px;
      background-color: transparent;
      transition: background-color 0.2s ease;
      
      svg {
        width: 14px;
        height: 14px;
        
        path {
          fill: transparent;
          stroke: currentColor;
        }
      }
      
      &:hover {
        background-color: #DEE4EC;
      }
      
      &:active {
        background-color: #DEE4EC;
      }
      
      // 点赞后的状态
      &.liked {
        background-color: transparent;
        
        svg path {
          fill: #636567;
          stroke: #ffffff;
        }
      }
      
      // 点踩后的状态
      &.unliked {
        background-color: transparent;
        
        svg path {
          fill: #636567;
          stroke: #ffffff;
        }
      }
    }
  }
}
