.page-plugin-card {
  padding: 24px 24px 0;
  width: calc(25% - 16px);
  height: 220px;
  background-position: center;
  display: flex;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  flex-direction: column;
  gap: 16px;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  margin-bottom: 10px;
  position: relative;
  .header-content {
    flex-grow: 1;
    width: 0;
  }
  .plugin-card-header {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 100%;
    >img {
      width: 60px;
      height: 60px;
    }
    .header-name {
      display: flex;
      font-size: 18px;
      .text {
        margin-bottom: 8px;
        max-width: 80%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: rgba(5, 5, 5, 0.96);
        cursor: pointer;
      }
    }
    .plugin-header-item {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;
      width: 0;
      .plugin-head {
        display: flex;
        align-items: center;
        .text {
          display: inline-block;
          max-width: 70%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .version {
          min-width: 60px;
        }
      }
    }
  }
  .plugin-card-user {
    display: flex;
    gap: 8px;
    align-items: center;
    flex-wrap: wrap;
    color: rgb(107 107 107);
    img {
      width: 18px !important;
      height: 18px !important;
      border-radius: 50%;
    }
    .creator {
      margin-right: 8px;
      cursor: pointer;
    }
  }
  .card-content {
    line-height: 22px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(77, 77, 77);
  }
  .card-footer {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    color: #808080;
    align-items: center;
    .card-footer-left {
      display: flex;
      align-items: center;
    }
    .card-footer-content {
      display: flex;
      gap: 14px;
      align-items: center;
    }
    .card-footer-right {
      display: flex;
      align-items: center;
      gap: 10px;
      span {
        font-size: 12px;
        font-weight: 700;
      }
    }
    .footer-icon {
      display: flex;
      justify-content: flex-end;
      cursor: pointer;
    }
  }
  .footer-type {
    border-radius: 10px;
  }
  .version {
    border-radius: 10px;
    margin-left: 8px;
  }
  .footer-more {
    font-size: 24px;
    color: #000000;
  }
  .plugin-status {
    border-radius: 10px;
    width: 52px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
  .deployed {
    color: rgb(0, 179, 54);
    background-color: rgba(174, 228, 190, 0.5);
  }
  .published {
    color: rgb(0, 179, 54);
    background-color: rgba(174, 228, 190, 0.5);
  }
  .deploying {
    color: #2673E5;
    background-color: rgba(38, 115, 229, 0.06);
  }
  .deployment_failed {
    color: #f66f6a;
    background-color: rgba(246, 111, 106, 0.1);
  }
}

.page-plugin-card.workflow-card {
  gap: 0 !important;
  padding: 16px 16px 5px 16px !important;
  .card-content {
    flex: 1;
    min-height: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 6px;
  }
  
  .card-footer {
    margin-top: auto;
    padding: 0 !important;
  }
}